* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  color: yellow;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
  height: 100%;
  position: relative;
  background: url(BlockLetters.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "IM Fell English SC", serif;
}
a {
  color: yellow;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#head-container {
  display: flex;
  flex-direction: reverse;
  width: 100%;
}

header {
  font-size: 1.5em;
  text-align: right;
  float: right;
}
#main {
  background-color: rgba(115, 94, 12, 0.9);
  border: double #32a1ce;
  padding: 4%;
}

#img-div {
  padding: 6%;
  margin-top: 20px;
  width: 100%;
  border: 1px double silver;
  -webkit-box-shadow: inset 10px 10px 110px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 110px 3px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 110px 3px rgba(0, 0, 0, 0.75);
}
@media (max-width: 1250px) {
  /* @media (width <= 30em) {....}  */
  section {
    margin-top: 15px;
    border: 1mm ridge rgb(333, 333, 333, 0.6);
  }
} /* end of media query 1250px */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(115, 94, 12, 01);
}
